<h1>Here is the information for <%= @contact.first() %></h1>
<h3>Phone</h3>
<ul>
  <% @contact.phones().each() do |phone| %>
    <% if phone.area().!=("") && phone.phone.!=("") && phone.type.!=("") %>
        <li>(<%= phone.area() %>) <%= phone.phone() %> Type: <%= phone.type %></a></li>
    <% end %>
  <% end %>
</ul>

<h3>Email</h3>
<ul>
  <% @contact.emails().each() do |email| %>
    <% if email.address().!=("") && email.type.!=("") %>
    <li><%= email.address() %> Type: <%= email.type() %></a></li>
    <% end %>
  <% end %>
</ul>

<h3>Address</h3>
<ul>
  <% @contact.addresses().each() do |address| %>
  <% if address.address().!=("") && address.city.!=("") && address.state().!=("") && address.zip.!=("") && address.type.!=("") %>
      <li><%= address.address() %> <%= address.city() %> <%= address.state() %> <%= address.zip() %> <%= address.type() %></a></li>
    <% end %>
  <% end %>
</ul>

<p></p>

<form action="/information" method="post">
  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.id() %>'>

  <h5>Phone info</h5>

  <label for='phone_number'>Phone Number:</label>
  <input id='phone_number' name='phone_number' type='text'>

  <label for='area_code'>Area Code:</label>
  <input id='area_code' name='area_code' type='text'>

  <label for='phone_type'>Phone Number Type:</label>
  <input id='phone_type' name='phone_type' type='text'>

  <h5>Email info</h5>

  <label for='email_address'>Email Address:</label>
  <input id='email_address' name='email_address' type='text'>

  <label for='email_type'>Email Type:</label>
  <input id='email_type' name='email_type' type='text'>

  <h5>Address info</h5>

  <label for='address_number'>Address:</label>
  <input id='address_number' name='address_number' type='text'>

  <label for='city'>City:</label>
  <input id='city' name='city' type='text'>

  <label for='state'>State:</label>
  <input id='state' name='state' type='text'>

  <label for='zip_code'>Zip Code:</label>
  <input id='zip_code' name='zip_code' type='text'>

  <label for='address_type'>Address Type:</label>
  <input id='address_type' name='address_type' type='text'>


  <p></p>
  <button type="submit">Add Information</button>
</form>



<a href="/">Return to Main Page</a>
